html,
body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: rgba(0, 0, 0, 0.464);

  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
}

body > * {
  border: 2px solid black;
  border-radius: 4px;
  margin: 2px;
  padding: 2px;
  color: aliceblue;
}

header {
  display: flex;
  gap: 0.3em;
  padding: 0.4em 0.8em;
}

header div:last-child {
  flex-grow: 1;
  text-align: right;
}

nav ul {
  display: flex;
  gap: 0.8em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: hsl(220, 80%, 80%);
}

nav ul li {
  cursor: pointer;
}

nav ul li:hover {
  color: hsl(220, 80%, 70%);
  cursor: pointer;
}

main {
  display: flex;
  flex-grow: 1;
}

#canvas-container {
  flex-grow: 1;

  /* TODO: Hack. I did not find a better way. There were always miscellaneous layout issues. */
  max-height: calc(100vh - 52px);

  overflow: hidden;
  background-color: black;
}
